.App{
    
    text-align: center;
    background-color: azure;

}

.Card{
    display: flex;
    justify-content:space-around;
    margin: 5rem;
}

.footer{
    background-color:gray;
    height: 100px;
    color: white;
}